# Build output
x64/
build/
.vs/
VulkanRenderer/
bin/
lib/

# Visual Studio noise
*.sln
*.user
*.VC.db
*.ipch
*.pdb
*.obj
*.ilk
*.idb
*.log
*.tlog
*.exe
*.cache

*.ini

# Random text files
Renderer-Goals.txt

# Assets
res/assets/Bistro.glb

# Ignore SPIR-V shader binaries
*.spv
*.spv.dis

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignore Vulkan SDK JSON cache if it ever pops up
vk_layer_settings.txt

# Don't ignore source/assets
!src/
!res/
!vendor/
 
 