# Build output
x64/
build/
.vs/
VulkanRenderer/
bin/
lib/

# Visual Studio
*.sln
*.user
*.VC.db
*.ipch
*.pdb
*.obj
*.ilk
*.idb
*.log
*.tlog
*.exe
*.cache
*.editorconfig
*.ini

# Misc
Renderer-Goals.txt

# Assets
res/cache/
res/assets/bistro/
res/assets/sponza_intel/
res/assets/San_Miguel/
res/assets/node_modules/
res/assets/*.mjs
res/assets/*.tsv
res/assets/*.txt
res/assets/package-lock.json

!res/assets/envhdr/
!res/assets/city/
!res/assets/*.glb
!res/assets/**/*.glb

res/assets/Bistro.glb

# Shaders
*.spv
*.spv.dis

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Vulkan
vk_layer_settings.txt

!src/
!res/
!vendor/